ul {
    list-style: none;
}

ul li {
    color: #06063c;
    display: block;
    margin-top: 20px;
    transition: transform .6s ease;
}

ul li:hover, ul a:hover{
    color: #801335;
    text-decoration: none;
    transform: scale(1.05);
}