body{
    background: rgba(15, 128, 117, 0.67);
}

aside {
    float: left;
    background: rgba(95, 128, 65, 0.26);
    width: 20%;
    padding: 2.5%;
    height: 100vh;
    color: black;
    border-right: 5px solid white;
}

aside img{
    width: 80px;
    float:left;
}

aside .logo{
    font-size: 20px;
    margin-left: 10px;
    font-weight: bold;
    position: relative;
    top: -5px;
}

aside h3{
    margin-top: 50px;
    font-size: 40px;
}

aside ul {
    list-style: none;
}

aside ul li {
    color: #fff;
    display: block;
    margin-top: 20px;
    transition: transform .6s ease;
}

aside ul li:hover, aside ul a:hover{
    color: #801335;
    text-decoration: none;
    transform: scale(1.05);
}

main .features{
    float: left;
    color: white;
    margin-top: 100px;
    text-align: center;
    width: 45%;
}

main .features h1 {
    font-size: 50px;
}

main .features p {
    font-size: 20px;
    max-width: 400px;
    margin: 20px auto
}

.alert-warning{
    float:left;
    clear: both;
    width: 400px;
    margin: 20px 34%;
    text-align: left;
}

.btn_1{
    font-size: 16px;
}

form {
    margin-left: 32%;
    width: 500px;
    margin-top: 50px;
}

