<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <!--
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
          crossorigin="anonymous">
    !-->

    <link rel="stylesheet" href="{% static 'mdiary/rbootstrap.min.css' %}">

    <link rel="stylesheet" href="{% static 'mdiary/bootstrap.css' %}">

      <!--
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      !-->

      <script src="{% static 'mdiary/jquery_331_min.js' %}"></script>

      <style> body{
        background: rgba(24, 141, 117, 0.42);
      }</style>

    <br><title>Создание студента</title>
  </head>
  <body>


  <br>
  <div class="row offset-md-3">

      <div class="col-5">

        <div class="container">
          <h1>Создание студента</h1>

        </div>

      </div>


      <div class="col-3 col-md-3">

        <button class="btn btn-info" name="sub_name" onClick="back_to_home()">ВЕРНУТЬСЯ НА ГЛАВНУЮ</button>

      </div>

  </div>

  <br><br>

    <div class="container text-center">
        <h4 style="color: green">{{stud_msg_1}}</h4>
    </div>

  <br><br>

    <form method="post">
        {% csrf_token %}


        <div class="container offset-md-4">
        <h4>Fullname:</h4>
        {{ form_fullname }} <br>
        </div>
        <br>


        <div class="container offset-md-4">
        <h4>ФИО:</h4>
        {{ form_fio }} <br>
        </div>
        <br>


        <div class="container offset-md-4">
        <h4>ФИО в род. падеже:</h4>
        {{ form_fio_rod }} <br>
        </div>
        <br>


        <div class="container offset-md-4">
        <h4>Звание:</h4>
        {{ form_rank }}
        </div>
        <br>


        <div class="container offset-md-4 col-md-4">
            <h4>ID документа дисциплины, для которой будет создан студент:</h4>
            <select class="form-select text-center" id="select_id" name="Option_select">

                <option selected>Discipline's ID List</option>
                {% for it in id_list %}
                    <option >{{it}}</option>
                {% endfor %}

            </select>
        </div>


        <br><br>
        <div class="container offset-md-4 col-md-1">
        <input class="btn btn-success btn-block" type="submit" value="Создать">
        </div>
    </form>


  <br>
  <div class="container offset-md-4 col-md-5">
      <h5 style="color: red">{{ stud_msg_2 }}</h5>
  </div>


<script>
    function back_to_home()
    {
        location.href = "{% url 'home' %}";
    }
</script>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
            crossorigin="anonymous"></script>
    !-->

    <script src="{% static 'mdiary/bootstrap.bundle.min.js' %}"></script>

     <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
    -->
  </body>
</html>



