<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <!--
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
          crossorigin="anonymous">
    !-->

    <link rel="stylesheet" href="{% static 'mdiary/rbootstrap.min.css' %}">

    <link rel="stylesheet" href="{% static 'mdiary/bootstrap.css' %}">

      <!--
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      !-->

    <script src="{% static 'mdiary/jquery_331_min.js' %}"></script>

    <!--
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.4.1/jspdf.min.js"></script>
    !-->

    <script src="{% static 'mdiary/jspdf_min_141.js' %}"></script>

    <!--
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/2.3.5/jspdf.plugin.autotable.min.js"></script>
    !-->

    <script src="{% static 'mdiary/jspdf-autotable235_min.js' %}"></script>


    <script src="{% static 'mdiary/table2excel.js' %}"></script>

    <style> body{
        background: rgba(24, 141, 117, 0.42);
      }</style>

    <br><title>Успеваемость группы</title>
</head>
<body>


  <script>
    const csrfToken = '{{ csrf_token }}';
    const URL = "{% url 'all_stud_table' %}";
  </script>


  <div class="container">
      <h1 class="text-center">Успеваемость группы студентов по дисцпилине</h1>
  </div>


  <br><br>
  <div class = container>
      <div class="row">

          <div class="col offset-md-1 col-md-2">
            <button class="btn btn-success" onClick="all_student_send('all_student'); all_stud_table_color()">ОбНОВИТЬ ТАБЛИЦУ</button>
          </div>

          <!--
          <div class="col col-md-2">
              <button id="pdf" class="btn btn-danger" onclick="convert_stud()">СКАЧАТЬ</button>
          </div>
          !-->

          <div class="col col-md-1">
              <button id="excel" class="btn btn-danger">СКАЧАТЬ</button>
          </div>


          <div class="col col-md-3">
              <button class="btn btn-info" name="sub_name" onClick="back_to_home()">ВЕРНУТЬСЯ НА ГЛАВНУЮ</button>
          </div>


        <div class="col col-md-4">
            <h2>Учебный предмет: {{subject}}</h2><br>
        </div>

    </div>
  </div>


    <div class="container">

         <div class="table-responsive col-md-12 offset-md-0">

             <table class="table table-bordered table-hover table-sm" id = "all_student">

                <thead>

                  <tr class="table-primary">
                    {% for title in title_list %}
                    <th class="text-center" style="height: 40px">{{title}}</th>
                    {% endfor %}

                  </tr>

                </thead>

                <tbody>
                  {% for list in student_list %}
                  <tr>
                    {% for it in list %}
                    <td class="text-center" style="height: 40px; background-color: white">{{it}}</td>
                    {% endfor %}
                  </tr>
                  {% endfor %}
                </tbody>

             </table>

         </div>

     </div>


     <br>


  <script>
      document.getElementById('excel').addEventListener('click', function () {
          var table2excel = new Table2Excel();
          table2excel.export(document.querySelectorAll("#all_student"));
      });
  </script>

   <script>
        var tds = document.querySelectorAll('td');

        for (var i=0; i<tds.length; i++)
        {
            tds[i].addEventListener('click', function func()
            {
               var input = document.createElement('input');
               input.value = this.innerHTML;
               this.innerHTML = '';
               this.appendChild(input);

               var td = this;
               input.addEventListener('blur', function()
               {
                   td.innerHTML = this.value;
                   td.addEventListener('click', func);
               });

               this.removeEventListener('click', func);
            });
        }
    </script>


  <script>

    table = document.getElementById('all_student');


    for (var r = 1, n = table.rows.length; r < n; r++)
    {

        for (var c = 0, m = table.rows[r].cells.length; c < m; c++)
        {
            //alert(table.rows[r].cells[c].innerHTML);
            temp = table.rows[r].cells[c].innerHTML;
            //temp = temp.replace(/ +/g, ' ').trim();
            temp = temp.replace(/\s/g, '');

            if (temp.includes('+') && temp.length == 1)
            {
                //alert(temp);
                table.rows[r].cells[c].style.backgroundColor = 'green';
            }
            if (temp.includes('-') && temp.length == 1)
            {
                //alert(temp);
                table.rows[r].cells[c].style.backgroundColor = 'red';
            }
            if (temp.includes('*') && temp.length == 1)
            {
                //alert(temp);
                table.rows[r].cells[c].style.backgroundColor = 'yellow';
            }

        }
    }

  </script>


    <script>
        function back_to_home()
        {
            location.href = "{% url 'home' %}";
        }
    </script>


<script src="{% static 'mdiary/test.js' %}"></script>
  <script src="{% static 'mdiary/tableHTMLExport.js' %}"></script>
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
            crossorigin="anonymous"></script>
    !-->

    <script src="{% static 'mdiary/bootstrap.bundle.min.js' %}"></script>

</body>
</html>