<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <!--
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
          crossorigin="anonymous">
    !-->

    <link rel="stylesheet" href="{% static 'mdiary/rbootstrap.min.css' %}">

    <link rel="stylesheet" href="{% static 'mdiary/bootstrap.css' %}">

      <!--
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      !-->

      <script src="{% static 'mdiary/jquery_331_min.js' %}"></script>


      <style> body{
        background: rgba(24, 141, 117, 0.42);
      }</style>

    <br><title>Удаление успеваемости студента</title>
  </head>
  <body>


  <script>
    const csrfToken = '{{ csrf_token }}';
    const URL = "{% url 'delete_stud' %}";
  </script>


    <script>function show_disc_table()
    {
        let k = document.getElementById("disc_table");
    if (k.style.display == 'none')
        {k.style.display = "table"}
    else
        {k.style.display="none"}

    return false;
    }
    </script>


  <br>
  <div class="row offset-md-3">

      <div class="col-7">

        <div class="container">

          <h1>Удаление успеваемости студента по дисциплине</h1>

        </div>

      </div>


      <div class="col-3 col-md-3">

        <button class="btn btn-info" name="sub_name" onClick="back_to_home()">ВЕРНУТЬСЯ НА ГЛАВНУЮ</button>

      </div>

  </div>
  <br><br><br>


    <div class="container text-center"> <h4 style="color: green">{{stud_msg_1}}</h4></div>
    <div class="container text-center"> <h4 style="color: red">{{stud_msg_2}}</h4></div>
    <br>


  <div class="container">

      <form method="post">
        {% csrf_token %}

        <div class="container offset-md-4 col-md-4">
        <h4>ID существующих документов дисцпилин:</h4>
            <select class="form-select text-center" id="select_1" name="Option_id">

                <option selected>Discipline's ID List</option>
                {% for it in doc_id_list %}
                    <option >{{it}}</option>
                {% endfor %}

            </select> <br>
        </div>
        <br>


        <div class="container offset-md-4 col-md-4">
        <h4>Год постулпения:</h4>
            <select class="form-select text-center" id="select_2" name="Option_year">

                <option selected>Year List</option>
                {% for it in year_list %}
                    <option >{{it}}</option>
                {% endfor %}

            </select> <br>
        </div>
        <br>


        <div class="container text-center col-md-2">
        <input class="btn btn-success btn-block" type="submit" value="Поиск">
        </div>
    </form>

  </div>


    <!--
    <div class="container">

        <br>
        <div class="table-responsive col-md-6 offset-md-3">

          <table id = "disc_table" style="display:none" class="table table-bordered table-hover table-sm">
            <thead>
              <tr class="table-primary">
                <th class="text-center">Discipline's document ID</th>
              </tr>
            </thead>
            <tbody>
            {% for id in doc_id_list %}
              <tr>
                <td class="text-center">{{id}}</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>

        </div>
      </div>
    !-->

     <style>
   select {
    width: 320px; /* Ширина списка в пикселах */
   }
  </style>

    <br><br>
    <div class="container offset-md-4 col-md-4">

        <h4>ID студентов, доступных для удаления:</h4>

     <select class="form-select text-center" id="select_id">

        <option selected>Fullname List</option>
        {% for it in id_list %}
            <option >{{it}}</option>
        {% endfor %}

    </select>

    </div>

    <br>
    <div class="container text-center col-md-2">
        <input class="btn btn-danger btn-block" type="submit" value="Удалить" onclick="fullname_choice()" >
    </div>

<script>
    function back_to_home()
    {
        location.href = "{% url 'home' %}";
    }
</script>

    <script src="{% static 'mdiary/test.js' %}"></script>
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
            crossorigin="anonymous"></script>
    !-->

    <script src="{% static 'mdiary/bootstrap.bundle.min.js' %}"></script>

     <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
    -->
  </body>
</html>
