<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <!--
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
          crossorigin="anonymous">
    !-->

    <link rel="stylesheet" href="{% static 'mdiary/rbootstrap.min.css' %}">

    <link rel="stylesheet" href="{% static 'mdiary/bootstrap.css' %}">

    <title>Get Student Data</title>
  </head>
  <body>

    <script type="text/javascript">
    function kk()
    {
    let k = document.getElementById("k");
    if (k.style.display == 'none')
        {k.style.display = "table"}
    else
        {k.style.display="none"}

    <!-- k.style.display = "table" ? k.style.display = "none" : k.style.display = "table"; -->
    }
    </script>


    <script>function show_disc_table()
    {
        let k = document.getElementById("disc_table");
    if (k.style.display == 'none')
        {k.style.display = "table"}
    else
        {k.style.display="none"}

    return false;
    }
    </script>


    <br>
    <h1 class="text-center">Page for getting student (work in progress)</h1>


    <!--

    <div class="container">

      <div class="row">

        <div class="col-md-4 offset-md-3">
          <br>
          <br>
          <button type="button_id" class="btn btn-primary col-md-9"  onClick="kk()">Show Table with student's documents' ID</button>

        </div>


        <div class="table-responsive col-md-4">

          <table id = "k" style="display:none" class="table table-bordered table-hover table-sm">
            <thead>
              <tr class="table-primary">
                <th class="text-center">Student's document ID</th>
              </tr>
            </thead>
            <tbody>
            {% for id in id_list %}
              <tr>
                <td class="text-center">{{id}}</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>

          </div>

        </div>

      </div>


    -->


  <!--<iframe name="iframe1" style="position: absolute; left: -9999px;"></iframe>-->

  <br><br>
  <div class="container">

       <div class="row">

          <div class="offset-md-3">
            <br>
            <br>
            <form method="post" target="iframe1"  onClick="show_disc_table()">

              {% csrf_token %}
              {{ id_to_show }} <input id ="submit-button" type="submit" value="Submit">

            </form>

        </div>

      </div>

  </div>


    <div class="container">

        <br>
        <div class="table-responsive col-md-7 offset-md-3">

          <table id = "disc_table" style="display:none" class="table table-bordered table-hover table-sm">
            <thead>
              <tr class="table-primary">
                <th class="text-center">Student's document ID</th>
              </tr>
            </thead>
            <tbody>
            {% for id in id_list %}
              <tr>
                <td class="text-center">{{id}}</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>

        </div>
      </div>



    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <!--
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    !-->

    <script src="{% static 'mdiary/jquery-351.slim.min.js' %}"></script>

    <!--
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
            crossorigin="anonymous"></script>
    !-->

    <script src="{% static 'mdiary/bootstrap.bundle.min.js' %}"></script>

     <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
    -->
  </body>
</html>



