<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <!--
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
          crossorigin="anonymous">
    !-->

    <link rel="stylesheet" href="{% static 'mdiary/rbootstrap.min.css' %}">

    <link rel="stylesheet" href="{% static 'mdiary/bootstrap.css' %}">

    <!--
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    !-->

    <script src="{% static 'mdiary/jquery_331_min.js' %}"></script>

    <br><title>Student Table Page</title>
</head>
<body>


  <script>
    const csrfToken = '{{ csrf_token }}';
    const URL = "{% url 'stud_table' %}";
  </script>


  <h1 class="text-center">Student Table Page</h1>
    <br>
    <div class="container">

        <div class="col-md-7 offset-md-1">
            <h2>Student's document ID: {{id}}</h2><br>
        </div>




    {% for n in title_list %}

         <div class="table-responsive col-md-11 offset-md-1">

             <table class="table table-bordered table-hover table-sm">

                <thead>

                  <tr class="table-primary">
                    {% for it in n.titles %}
                    <th class="text-center" style="height: 40px">{{it}}</th>
                    {% endfor %}

                  </tr>

                </thead>

                <tbody>

                  <tr>
                    {% for d in n.empty %}
                    <td class="text-center" style="height: 40px">{{d}}</td>
                    {% endfor %}
                  </tr>

                </tbody>

             </table>

         </div>

     </div>

     {% endfor %}






   <script>
        var tds = document.querySelectorAll('td');

        for (var i=0; i<tds.length; i++)
        {
            tds[i].addEventListener('click', function func()
            {
               var input = document.createElement('input');
               input.value = this.innerHTML;
               this.innerHTML = '';
               this.appendChild(input);

               var td = this;
               input.addEventListener('blur', function()
               {
                   td.innerHTML = this.value;
                   td.addEventListener('click', func);
               });

               this.removeEventListener('click', func);
            });
        }
    </script>


<script src="{% static 'mdiary/test.js' %}"></script>
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
            crossorigin="anonymous"></script>
    !-->

    <script src="{% static 'mdiary/bootstrap.bundle.min.js' %}"></script>

</body>
</html>