<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <!--
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
          crossorigin="anonymous">
    !-->

    <link rel="stylesheet" href="{% static 'mdiary/rbootstrap.min.css' %}">

    <link rel="stylesheet" href="{% static 'mdiary/bootstrap.css' %}">

    <!--
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    !-->

    <script src="{% static 'mdiary/jquery_331_min.js' %}"></script>

    <style> body{
        background: rgba(24, 141, 117, 0.42);
      }</style>

    <br><title>Удаление дисциплины</title>
  </head>
  <body>


    <script>function show_disc_table()
    {
        let k = document.getElementById("disc_table");
    if (k.style.display == 'none')
        {k.style.display = "table"}
    else
        {k.style.display="none"}

    return false;
    }
    </script>


  <br>

    <div class="row offset-md-4">

      <div class="col-6">

        <div class="container">

          <h1>Удаление дисциплины</h1>

        </div>

      </div>


      <div class="col-3 col-md-3">

        <button class="btn btn-info" name="sub_name" onClick="back_to_home()">ВЕРНУТЬСЯ НА ГЛАВНУЮ</button>

      </div>

    </div>


  <br><br><br>


      <div class="container offset-md-4"> <h4 style="color: green">{{disc_msg_1}}</h4></div>
      <div class="container offset-md-4"> <h4 style="color: red">{{disc_msg_2}}</h4></div>
      <br>


  <!--
  <div class="container offset-md-4">

      <h4>Disipline's document ID to delete:</h4>

      <form method="post" target="iframe1"  onClick="show_disc_table()">
        {% csrf_token %}
        {{ form_id }}

       <input class="btn btn-success" type="submit" value="Submit"
               onclick="return confirm('Are You Sure to \nDelete this document?')">

    </form>
  </div>


    <div class="container col-md-5 offset-md-4">

        <br>
        <div class="table-responsive">

          <table id = "disc_table" style="display:none" class="table table-bordered table-hover table-sm">
            <thead>
              <tr class="table-primary">
                <th class="text-center">Discipline's document ID</th>
              </tr>
            </thead>
            <tbody>
            {% for id in id_list %}
              <tr>
                <td class="text-center">{{id}}</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>

        </div>
      </div>

    </div>

    !-->

    <div class="container offset-md-4">

      <h4 style="color: red">{{error_msg}}</h4>
      <br>
      <h4>ID документа дисциплины для удаления:</h4>

      <form method="post">

        {% csrf_token %}
        <div class="row">

          <div class="col-4">

                <select class="form-select text-center" id="select_id" name="Option_select">

                    <option selected>Discipline's ID List</option>
                    {% for it in id_list %}
                        <option>{{it}}</option>
                    {% endfor %}

                </select>

          </div>


          <div class="col">

            <input class="btn btn-success" type="submit" value="Удалить"
               onclick="return confirm('Вы уверены, что хотите удалить этот документ?')">

          </div>

        </div>

      </form>

    </div>


  <script>
      function back_to_home()
      {
          location.href = "{% url 'home' %}";
      }
  </script>


    <script src="{% static 'mdiary/test.js' %}"></script>
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
            crossorigin="anonymous"></script>
     !-->

    <script src="{% static 'mdiary/bootstrap.bundle.min.js' %}"></script>

     <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
    -->
  </body>
</html>
