<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <!--
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
          crossorigin="anonymous">
    !-->

    <link rel="stylesheet" href="{% static 'mdiary/rbootstrap.min.css' %}">

    <link rel="stylesheet" href="{% static 'mdiary/bootstrap.css' %}">

      <!--
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      !-->

      <script src="{% static 'mdiary/jquery_331_min.js' %}"></script>

      <!--
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.4.1/jspdf.min.js"></script>
      !-->

      <script src="{% static 'mdiary/jspdf_min_141.js' %}"></script>

    <!--
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/2.3.5/jspdf.plugin.autotable.min.js"></script>
	!-->

      <script src="{% static 'mdiary/jspdf-autotable235_min.js' %}"></script>

      <style> body{
        background: rgba(24, 141, 117, 0.42);
      }</style>

    <br><title>Данные по дисциплине</title>
  </head>
  <body>


  <script>
    const csrfToken = '{{ csrf_token }}';
    const URL = "{% url 'disc_table' %}";
  </script>


    <h1 class="text-center">Структура дисциплины</h1>

    <br><br>
      <div class = container>
          <div class="row">

              <div class="col col-md-2">
                  <button class="btn btn-success" onClick="json_send()">ОБНОВИТЬ ТАБЛИЦУ</button>
              </div>

              <!--
              <div class="col col-md-2">
                  <button class="btn btn-danger" onclick="convert_disc()">СКАЧАТЬ</button>
              </div>
              !-->

              <div class="col col-md-3">
                   <button class="btn btn-info" name="sub_name" onClick="back_to_home()">ВЕРНУТЬСЯ НА ГЛАВНУЮ</button>
              </div>


              <div class="col col-md-4">
                  <h2>Учебный предмет: {{subject}}</h2><br>
              </div>

        </div>
      </div>


    {% for n in keys_and_data_list %}

         <div class="table-responsive col-md-11 offset-md-1">

             <table class="table table-bordered table-hover table-sm" id = {{n.table_id}}>

                <thead>

                  <tr class="table-primary">
                    {% for it in n.keys %}
                    <th class="text-center">{{it}}</th>
                    {% endfor %}

                  </tr>

                </thead>

                <tbody>

                  <tr>
                    {% for d in n.data %}
                    <td class="text-center" style="background-color: white">{{d}}</td>
                    {% endfor %}
                  </tr>

                </tbody>

             </table>

         </div>

     </div>

     {% endfor %}

    <script>
        var tds = document.querySelectorAll('td');

        for (var i=0; i<tds.length; i++)
        {
            tds[i].addEventListener('click', function func()
            {
               var input = document.createElement('input');
               input.value = this.innerHTML;
               this.innerHTML = '';
               this.appendChild(input);

               var td = this;
               input.addEventListener('blur', function()
               {
                   td.innerHTML = this.value;
                   td.addEventListener('click', func);
               });

               this.removeEventListener('click', func);
            });
        }
    </script>


    <script>
    function back_to_home()
    {
        location.href = "{% url 'home' %}";
    }
    </script>


    <!--<a href="{% url 'test' %}"><button>Redirect</button></a>-->



    <script src="{% static 'mdiary/test.js' %}"></script>
    <script src="{% static 'mdiary/tableHTMLExport.js' %}"></script>
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
            crossorigin="anonymous"></script>
    !-->

    <script src="{% static 'mdiary/bootstrap.bundle.min.js' %}"></script>

     <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
    -->
  </body>
</html>



