<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <!--
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
          crossorigin="anonymous">
    !-->

    <link rel="stylesheet" href="{% static 'mdiary/rbootstrap.min.css' %}">

    <link rel="stylesheet" href="{% static 'mdiary/bootstrap.css' %}">

      <!--
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      !-->

    <script src="{% static 'mdiary/jquery_331_min.js' %}"></script>

    <style>
      body{
        background: rgba(24, 141, 117, 0.42);
      }
      .data{
        display: none;
      }
    </style>

    <br><title>Добавление занятий</title>
  </head>
  <body>


    <script>function show_disc_table()
    {
        let k = document.getElementById("disc_table");
    if (k.style.display == 'none')
        {k.style.display = "table"}
    else
        {k.style.display="none"}

    return false;
    }
    </script>


  <br>
  <div class="row offset-md-4">

      <div class="col-6">

        <div class="container">

          <h1>Добавление занятий по дисциплине</h1>

        </div>

      </div>


      <div class="col-3 col-md-3">

        <button class="btn btn-info" name="sub_name" onClick="back_to_home()">ВЕРНУТЬСЯ НА ГЛАВНУЮ</button>

      </div>

  </div>
  <br>


    <div class="container offset-md-5"> <h4 style="color: green">{{disc_msg_1}}</h4></div>
    <div class="container offset-md-5"> <h4 style="color: red">{{disc_msg_2}}</h4></div>
    <br><br>

  <div class="wrapper">

    <form method="post">
      {% csrf_token %}

        <div class="menu">

          <div class="container">

            <div class="container offset-md-4 col-md-5">

              <select class="form-select text-center" id="select_id" name="Option_select">

                <option selected>Discipline's ID List</option>
                {% for it in doc_id_list %}
                <option>{{it}}</option>
                {% endfor %}

              </select>

            </div>
            <br>

          </div>


          <div class="container">

            <div class="row">

                <div class="col-md-5 offset-md-4">

                    <select class="form-select text-center" id="task_name" name="Task_select">

                      <option value="PZ">Практическое занятие</option>
                      <option value="LR">Лабораторная работа</option>
                      <option value="DDZ">Долгосрочное Д/З</option>
                      <option value="Offset">Зачет</option>
                      <option value="Exam">Экзамен</option>

                    </select>

                </div>


                <div class="col-md-2">

                  <input class="btn btn-success btn-block" type="submit" value="Добавить занятие">

                </div>

            </div>

          </div>

        </div>


    <br>

    <div class="content">

      <div id="PZ" class="data">

        <div class="container">

          <div class="container col-md-3 offset-md-4">
            <h4>Номер занятия:</h4>

            <select class="form-select text-center" id="task_pz" name="Task_num_pz">
              {% for it in task_num_list %}
                <option value="{{it}}">{{it}}</option>
              {% endfor %}
            </select>
            <!--{{ form_task }}!-->
          </div>
          <br>


          <div class="container offset-md-4">
            <h4>Тема занятия:</h4>
            {{ form_main_title_pz }} <br>
          </div>
          <br>


          <div class="container offset-md-4">
            <h4>Контрольные точки:</h4>
            {{ form_title_pz }} <br>
          </div>
          <br>


          <div class="container offset-md-4">
            <h4>Информация по занятию:</h4>
            {{ form_info_pz }} <br>
          </div>
          <br>


          <div class="container offset-md-4">
            <h4>Льготный и крайний сроки сдачи:</h4>
            {{ form_dates_pz }} <br>
          </div>
          <br>


          <div class="container offset-md-4">
            <h4>Формула для расчета баллов:</h4>
            {{ form_formula_pz }} <br>
          </div>
          <br>

        </div>

      </div>


      <div id="LR" class="data">

        <div class="container">

          <div class="container col-md-3 offset-md-4">
            <h4>Номер работы:</h4>
            <select class="form-select text-center" id="task_lr" name="Task_num_lr">
              {% for it in task_num_list %}
                <option>{{it}}</option>
              {% endfor %}
            </select>
          </div>
          <br>


          <div class="container offset-md-4">
            <h4>Тема работы:</h4>
            {{ form_main_title_lr }} <br>
          </div>
          <br>


          <div class="container offset-md-4">
            <h4>Контрольные точки:</h4>
            {{ form_title_lr }} <br>
          </div>
          <br>


          <div class="container offset-md-4">
            <h4>Информация по работе:</h4>
            {{ form_info_lr }} <br>
          </div>
          <br>


          <div class="container offset-md-4">
            <h4>Льготный и крайний сроки сдачи:</h4>
            {{ form_dates_lr }} <br>
          </div>
          <br>


          <div class="container offset-md-4">
            <h4>Формула для расчета баллов:</h4>
            {{ form_formula_lr }} <br>
          </div>
          <br>

        </div>

      </div>


      <div id="DDZ" class="data">

        <div class="container">

          <div class="container offset-md-4">
            <h4>Тема задания:</h4>
            {{ form_main_title_ddz }} <br>
          </div>
          <br>


          <div class="container offset-md-4">
            <h4>Контрольные точки:</h4>
            {{ form_title_ddz }} <br>
          </div>
          <br>


          <div class="container offset-md-4">
            <h4>Информация по заданию:</h4>
            {{ form_info_ddz }} <br>
          </div>
          <br>


          <div class="container offset-md-4">
            <h4>Льготный и крайний сроки сдачи:</h4>
            {{ form_dates_ddz }} <br>
          </div>
          <br>


          <div class="container offset-md-4">
            <h4>Формула для расчета баллов:</h4>
            {{ form_formula_ddz }} <br>
          </div>
          <br>

        </div>

      </div>


      <div id="Offset" class="data">

        <div class="container">

          <br>
          <div class="container offset-md-4">
            <h4>Преподаватель, принимающий зачет:</h4>
            {{ form_teacher }}
          </div>


          <br>
          <div class="container offset-md-4">
            <h4>Дата сдачи:</h4>
            {{ form_offset_date }}
          </div>

        </div>

      </div>


      <div id="Exam" class="data">

        <div class="container">

          <br>
          <div class="container offset-md-4">
            <h4>Преподаватель, принимающий экзамен:</h4>
            {{ form_teacher_e }}
          </div>


          <br>
          <div class="container offset-md-4">
            <h4>Дата сдачи:</h4>
            {{ form_exam_date }}
          </div>

        </div>

      </div>

    </div>

    </form>

  </div>

    <script>

    function back_to_home()
    {
        location.href = "{% url 'home' %}";
    }

    </script>


    <script>

      $(document).ready(function () {
          $("#task_name").on('change', function(){
              $(".data").hide();
              $("#" + $(this).val()).fadeIn(700);
          }).change();
      })

    </script>


    <script src="{% static 'mdiary/test.js' %}"></script>
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
            crossorigin="anonymous"></script>
    !-->

    <script src="{% static 'mdiary/bootstrap.bundle.min.js' %}"></script>

     <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
    -->
  </body>
</html>



