<!DOCTYPE html>
{% load static %}
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!--
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  !-->

  <script src="{% static 'mdiary/bootstrap.bundle.min.js' %}"></script>

  <!--
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  !-->

  <script src="{% static 'mdiary/jquery_331_min.js' %}"></script>

  <!--
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
  !-->

  <script src="{% static 'mdiary/ajax_popper_1140_umd_min.js' %}"></script>

  <!--
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
  !-->

  <script src="{% static 'mdiary/bootstrap.min.js' %}"></script>

</head>
<body>

<div class="container text-center">
  <br><br>
  <h1>Проблемы с авторизацией. Неизвестная группа пользователя или что-то еще :(</h1>
</div>

</body>
</html>