{% extends 'main/sample.html' %}

{% block content %}
    <div class="features">

        <h1>Главная страница</h1>
        <p>Какой-то текст</p>

    </div>

    <br><br>
    <div class="container">{{ stud_msg }} {{ disc_msg }}</div>
{% endblock %}