<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'main/css//main.css' %}">

     !-->

    <!--
     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">

    <link rel="stylesheet" href="{% static 'mdiary/fontawesome_releases_v582_css_all.css' %}">
    !-->

    <!--
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    !-->

    <link rel="stylesheet" href="{% static 'mdiary/rbootstrap.min.css' %}">

    <link rel="stylesheet" href="{% static 'mdiary/main_page.css' %}">

    <!--
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    !-->

    <script src="{% static 'mdiary/jquery_331_min.js' %}"></script>

    <!--
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    !-->

    <script src="{% static 'mdiary/ajax_popper_1140_umd_min.js' %}"></script>

    <!--
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    !-->
    <script src="{% static 'mdiary/bootstrap.min.js' %}"></script>

     <style> body{
        background: rgba(24, 141, 117, 0.76);
      }</style>
</head>
<body>

    <br>


    <div class="container col-md-10">

            <br>
            <div class="row">

                <div class="col-9">

                    <h2>Навигация по дневнику</h2>

                </div>


                <!--<div class="carousel-inner coд">

                    <div class="item active">
                        <img width="70" height="64" src="{% static 'main/img/banana.png' %}" alt="Logo">
                        <span class="logo"><h6>MonDiary</h6></span>
                    </div>

                </div> !-->

                <!--
                <div class="col">

                    <h1>Главная страница</h1>

                </div>
                !-->

            </div>


            <br>
            <button type="button" class="btn btn-light" data-toggle="collapse" data-target="#side_1"><h5>Управление дисциплинами</h5></button>

           <div class="row">

              <div id="side_1" class="collapse">
                  <br>
                  <ul>
                    <!--<a href="{% url 'home' %}"><h5><li><i class="fas fa-home"></i>Главная страница</li></h5></a>!-->
                    <a href="{% url 'add_disc' %}"><h5><li><img src="{% static 'mdiary/file-text.svg' %}"/>Создать макет дисциплины (конфиг.файл)</li></h5></a>
                    <a href="{% url 'modify_disc' %}"><h5><li><img src="{% static 'mdiary/plus-square.svg' %}"/>Создать макет дисциплины (интерфейс)</li></h5></a>
                    <a href="{% url 'modify_disc_tasks' %}"><h5><li><img src="{% static 'mdiary/file-earmark-plus.svg' %}"/>Добавить учебные занятия (интерфейс)</li></h5></a>
                    <a href="{% url 'get_disc' %}"><h5><li><img src="{% static 'mdiary/eye.svg' %}"/>Посмотреть структуру дисциплины</li></h5></a>
                    <a href="{% url 'delete_disc' %}"><h5><li><img src="{% static 'mdiary/trash.svg' %}"/>Удалить дисциплину</li></h5></a>
                  </ul>
              </div>

           </div>
           <br>


             <button type="button" class="btn btn-light" data-toggle="collapse" data-target="#side_2"><h5>Управление студентами</h5></button>

            <div class="row">

              <div id="side_2" class="collapse">
                <br>
                  <ul>
                    <a href="{% url 'add_stud' %}"><h5><li><img src="{% static 'mdiary/plus-square.svg' %}"/>Создать студента</li></h5></a>
                    <!--<a href="{% url 'get_stud' %}"><li><i class="far fa-eye"></i>Посмотреть информацию об успеваемости студента (work in progress)</li></a>!-->
                    <a href="{% url 'get_all_stud' %}"><h5><li><img src="{% static 'mdiary/people.svg' %}"/>Посмотреть успеваемость группы студентов</li></h5></a>
                    <a href="{% url 'delete_stud' %}"><h5><li><img src="{% static 'mdiary/person-x.svg' %}"/>Удалить успеваемость студента по дисциплине</li></h5></a>
                  </ul>
              </div>

            </div>


        <!--
          <div>
              <br><br>
              <a href="{% url 'student_all_stud_table' %}"><li><i class="fas fa-users"></i>[student]Посмотреть успеваемость группы по дисциплине</li></a>
          </div>
          !-->

        <!--
        <main>
            {% block content %}
            {% endblock %}
        </main>
        !-->

    </div>


    <script src="{% static 'mdiary/test.js' %}"></script>

    <!--
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    !-->

</body>
</html>


